/*General Page style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

body {
  font-family: "Playfair Display", sans-serif;
  line-height: 1.5;
}

/* Header styles */
header {
  background-image: url("/Assets/Images/Image\ Header.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
/*Optional*/
header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/Assets/Images/Image Header.jpg");
  background-position: center center;
  background-size: cover;
  transform: translateZ(-0, 1rem) scale(1.1);
}

header h1 {
  font-size: 5rem;
  margin-bottom: 80px;
}

/* Navigation styles */
nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0 30px;
}

nav a {
  text-decoration: none;
  color: white;
  align-items: center;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

nav a:link,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
  box-shadow: inset 400px 0 0 0 white;
  color: #708090;
  border-radius: 15px;
}

/* About Main, section and Div styles */
main {
  display: flex;
  flex-direction: column;
}
main p {
  font-size: 1rem;
}

.header-title {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title h2 {
  padding: 10px;
  border: solid 1px black;
  border-radius: 50px;
}
.story {
  background-image: url("/Assets/Images/Image1.jpg");
}

.passions {
  background-image: url("/Assets/Images/Imge2.jpg");
}

.career {
  background-image: url("/Assets/Images/Image3.jpg");
}
.content {
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* About footer styles */
footer {
  background-color: rgb(1, 6, 11);
  color: #fff;

  text-align: center;
}

/* Contact section styles */
#contact {
  background: linear-gradient(to bottom, #669bbc, #003049, #fdf0d5);
  color: #fff;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
}

#contact h2 {
  font-size: 3rem;
  margin-bottom: 40px;
}

form {
  width: 400px;
  margin: 0 auto;
  padding-left: 20px;
}
fieldset {
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border: thick 1px #fff;
  margin-bottom: 20px;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #333;
  color: #fff;
}
/*
Put this in the input section to make the input box red when invalid with the JavaScript instrqctions
  input:valid {
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
  }
  input:invalid {
    border: ; 1px solid #DC143C	;
    background-color: #333;
    color: #fff;
  }*/

/* Footer styles */
